.row.recommendation
  .col-md-8= link_to object.email, object
  .col-md-2= link_to 'Написать сообщение', messages_user_path(object), class: [:btn, 'btn-info']
  .col-md-2= link_to 'Предложить дружбу', request_friendship_user_path(object), class: [:btn, 'btn-primary'], method: :post
