.row.recommendation{ data: { id: object.id }}
  .col-md-8= link_to object.email, object
  .col-md-2= link_to 'Написать сообщение', js_nothing, class: [:btn, 'btn-info', 'send-msg']
  .col-md-2= link_to 'Добавить в друзья', js_nothing, class: [:btn, 'btn-primary', 'add-friend']
