.row.recommendation
  .col-md-4.col-md-offset-2
    = link_to object, title: object.email do
      %span.glyphicon.glyphicon-user
      = object.any_name
  .col-md-2
    = link_to messages_user_path(object), class: [:btn, 'btn-info'] do
      %span.glyphicon.glyphicon-envelope
      Написать сообщение
  .col-md-2
    = render 'users/friend_links', user: object
