%button.btn.btn-primary.btn-lg{ type: :button, data: { toggle: :modal, target: '#add-property' } } Добавить характеристику

.modal.fade#add-property{ tabindex: -1, role: :dialog, 'aria-labelledby' => 'add-property-label', 'aria-hidden' => true }
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{ type: :button, data: { dismiss: :modal } }
          %span{ 'aria-hidden' => true } &times;
          %span.sr-only Close
        %h4.modal-title#add-property-label Добавить характеристику
      .modal-body
        .form-group
          = select_tag :type, options_for_select(Attribute::RELATIONS.map { |k, v| [v[:title], k] }), class: 'form-control', id: 'property-type'
        .form-group
          = text_field_tag :value, '', class: 'form-control', id: 'property-value'
      .modal-footer
        %button.btn.btn-default{ type: :button, data: { dismiss: :modal } } Отмена
        %button.btn.btn-primary#add-property{ type: :button } Добавить

= render partial: 'attribute', collection: current_user.rels(dir: :outgoing)