%tr.post
  %td
    = link_to post.title, post
    = render 'tags', post: post

  - if post.creator == current_user
    %td
      = link_to edit_post_path(post), class: [:btn, 'btn-warning'] do
        %span.glyphicon.glyphicon-edit
        Редактировать
  %td.middle-align
    %span.badge
      %span.glyphicon.glyphicon-heart
      %span= post.likes_count
